.profile-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  font-family: sans-serif;
  margin-top: 5rem;
  // margin-left: 250px;
 
  .page-title {
    // text-align: center;
    margin-bottom: 2rem;
    color: #1e1e1e;
  }

  .profile-card {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); // Safari uchun
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;

    .avatar {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1rem;
    }

    .name {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    .info-box {
      margin-top: 1rem;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px); // Safari uchun
      border-radius: 10px;
      overflow: hidden;
      padding: 1rem;
      text-align-last: left;

      .highlight-box {
        p {
          margin: 0.5rem 0;
        }
      }
    }

    .edit-btn {
      margin-top: 1.5rem;
      padding: 0.6rem 1.2rem;
      background-color: #b336b1;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: #92379b;
      }
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
      background: white;
      padding: 2rem;
      border-radius: 16px;
      max-width: 400px;
      width: 90%;

      label {
        display: block;
        margin-bottom: 1rem;

        input,
        textarea {
          width: 100%;
          padding: 0.5rem;
          margin-top: 0.4rem;
          border-radius: 8px;
          border: 1px solid #ccc;
        }
      }

      .modal-buttons {
        display: flex;
        justify-content: space-between;

        button {
          padding: 0.5rem 1rem;
          border-radius: 8px;
          border: none;
          cursor: pointer;
        }

        button:first-child {
          background-color: #28a745;
          color: white;
        }

        button:last-child {
          background-color: #dc3545;
          color: white;
        }
      }
    }
  }
}

// Responsive
@media (max-width: 500px) {
  .profile-card {
    padding: 1rem;

    .name {
      font-size: 1.2rem;
    }

    .edit-btn {
      width: 100%;
    }
  }
}


.profile-page1{
  height: 84vh;
  max-width: 1600px;
  margin-left: 250px;
  margin-top: 5rem;
}