.students-list {
  padding: 40px;
  background: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1f2937;
  max-width: 1600px;
  margin-left: 250px;
  margin-top: 5rem;

  h1 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #111827;
  }

  .group-section {
    margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); // Safari uchun
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      // color: #3b82f6;
      color: #1e1e1e;
      border-left: 6px solid #1e1e1e;
      padding-left: 12px;
    }
  
    table {
      width: 100%; // bu yerda width 100% bo‘lsa, hamma jadval teng chiqadi
      table-layout: fixed; // ustun kengligini barqaror qiladi
      border-collapse: collapse;
      border-spacing: 0;
      overflow: hidden;
      border-radius: 10px;
      min-width: 600px; 
      background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); // Safari uchun// bu ixtiyoriy, ammo table juda tor chiqmasin deb
  
      th,
      td {
        padding: 14px 16px;
        text-align: left;
        word-wrap: break-word;
      }
  
      th {
        // background: rgba(255, 255, 255, 0);
        // backdrop-filter: blur(10px);
        // -webkit-backdrop-filter: blur(10px); // Safari uchun
        font-weight: 600;
        color: #1e1e1e;
        border-bottom: 2px solid #f7f7f7;
      }
  
      td {
        border-bottom: 1px solid #e5e7eb;
      }
    }
  }
  
}
