.attendance {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  width: 30%;
  height: 400px;
  overflow: hidden; /* Scroll container uchun radiusni saqlab qolish uchun bu qo'shiladi */
  position: relative; /* Scrollni to'g'ri ishlashi uchun */
  h3 {
    margin-bottom: 1rem;
  }

  .history-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; /* Scrollni faollashtirish */
    max-height: calc(100% - 40px); /* h3 uchun bo'sh joy qoldirish */

    .history-item {
      display: flex;
      align-items: center;
      background: #f7f7f7;
      border-radius: 10px;
      padding: 1rem 1rem;
      margin-bottom: 0.75rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
      transition: 0.2s;

      &:hover {
        background-color: #eaeaea;
      }

      .icon {
        margin-right: 1rem;
        h1 {
          font-size: 1.5rem;
        }
      }

      .info {
        flex: 1;
        margin-left: 1rem;

        .type {
          font-weight: 600;
          text-transform: capitalize;
        }

        .desc {
          font-size: 0.9rem;
          color: #555;
          margin-top: 2px;
        }
      }

      .amount {
        font-weight: bold;
        color: #28a745;
        font-size: 1.1rem;
      }
    }
  }
}
