.rewards {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1rem;
  max-width: 67%;
  overflow: hidden; // to'xtatish uchun

  .rewards-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #1e1e1e;
  }

  .loading {
    font-size: 1.2rem;
    color: #1e1e1e;
  }

  .scroll-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .reward-list {
    display: flex;
    gap: 1rem;
    min-width: max-content;
    animation: scroll 50s linear infinite;
    will-change: transform;
  }

  .reward-card {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #e2e8f0;
    border-radius: 1rem;
    width: 220px;
    padding: 1rem;
    text-align: center;
    flex-shrink: 0;

    .reward-img {
      width: 100%;
      height: 120px;
      object-fit: cover;
      border-radius: 0.5rem;
    }

    .reward-info {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;

      .reward-name {
        font-size: 1.1rem;
        font-weight: bold;
      }

      .reward-price {
        font-size: 1rem;
        color: #1e1e1e;
      }

      .reward-amount {
        font-size: 0.9rem;
        color: #888;
      }
    }
  }
}

/* Scrollbar orqa fon rangi */
.rewards::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}

/* Scrollbar "thumb" (tutqich) rangi */
.rewards::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}

/* Hover qilinganda thumb o'zgarishi */
.rewards::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

/* Animatsiya kaliti */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* 100% ga qaytganda yana yangi cardlar chiqib keladi */
  }
}
